.portfolioItem {
    display: block;
    text-decoration: none;
}

.portfolioItem__element {
    display: flex;
    align-items: center;
}

.portfItem__border {
    display: block;
    margin-top: 15px;
    margin-bottom: 31px;
    border-bottom: 2px solid #E0E0E0;
}

.portfolioItem__img {
    border-radius: 5px;
    margin-right: 18px;
    width: 100%;
    max-width: 246px;
}

.portfolioItem__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    margin-bottom: 20px;
}

.portfolioItem__caption {
    display: flex;
}

.portfolioItem__year {
    width: 62px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #142850;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
}

.portfolioItem__type {
    display: flex;
    align-items: center;
    height: 25px;
    margin-left: 26px;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.portfolioItem__description {
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
    margin-top: 30px;
    width: 600px;
}

@media screen and (max-width: 900px) {    
    .portfolioItem__img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        max-width: initial;
    }

    .portfolioItem{
        display: block;
        width: 280px;
    }

    .portfolioItem__element {
        display: block;
    }
    
    .portfolioItem__title {
        font-size: 24px;
        line-height: 30px;
        margin-top: 17px;
    }

    .portfolioItem__description {
        width: 100%;
        margin-top: 24px;
        font-size: 16px;
    }

    .portfolioItem__year{
        font-size: 16px;
    }

    .portfolioItem__type{
        font-size: 16px;
    }

    .portfItem__border {
        display: flex;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 31px;
        border-bottom: 2px solid #E0E0E0;
    };
};
