.h1 {
    font-weight: 400;
    margin-top: 71px;
    font-size: 22px;
    color: #21243D;
    margin-bottom: 11px;
}

@media screen and (max-width: 900px) {
    .h1 {
        width: 124px;
        font-size: 18px;
        margin-bottom: 0;
        margin-left: 100px;
        font-weight: 400;
        margin-top: 0;
        color: #21243D;
        margin-bottom: -30px;
    }
}
