.h1 {
    font-weight: 400;
    margin-top: 71px;
    font-size: 22px;
    color: #21243D;
    margin-bottom: 11px;
}

@media screen and (max-width: 900px) {
    .h1 {
        width: 320px;
        font-weight: 400;
        color: #21243D;
        text-align: center;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: -40px;
    }
}
