.ava {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    margin-left: 115px;
}

 .header {
    display: flex;
}

.headerTitle {
    width: 500px;
    font-size: 40px;
    line-height: 60px;
    color: #21243D;
}

.textHeader {
    width: 500px;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
    margin-top: 40px;
}

.downloadResume {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    background-color: #FF6464;
    color: #FFFFFF;
    border-radius: 10px;
    text-decoration: none;
    padding: auto;
    width: 208px;
    height: 47px;
    cursor: pointer;
    border: 1px solid #FF6464;
}

.downloadResume:hover {
    background-color: white;
    color: black;
    transition: all 0.1s ease-in;
    border: 1px solid black;
}

.wrapper {
    position: relative;
    top: 20%;
    transform: translate(-50% -50%);
}

input[type="checkbox"] {
    width: 80px;
    height: 40px;
    background-color:blue;
    -webkit-appearance: none;
    margin: 0 auto;
    border-radius: 20px;
}

input[type="checkbox"]:checked {
    background-color: red;
    transition: 1s ease;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 34px;
    height: 34px;
    background-color: #fff;
    border-radius: 50%;
    transition: 1s ease;
}

input[type="checkbox"]:checked::before {
    transform: translate(38px);
    transition: 1s ease;
}


@media screen and (max-width: 900px) {
    .header {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        width: 300px;
    }

    .ava {
        width: 170px;
        height: 170px;
        margin-left: 0;
        margin-bottom: 44px;
        margin-top: 52px;
    }

    .headerTitle {
        font-size: 32px;
        line-height: 40px;
        color: #21243D;
        width: 280px;
        height: 120px;
        margin-left: 20px;
    }

    .downloadResume {
        margin-left: 50px;
        margin-top: 27px;
        margin-bottom: 58px;
    }

    .textHeader {
        width: 230px;
        margin-top: 21px;
        margin-left: 40px;
    }
}
