.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 83px;
    box-sizing: border-box;
}

.footer__socials {
    display: flex;
    box-sizing: border-box;
}

.fb {
    width: 35px;
    height: 35px;
    color: #21243D;
    border-radius: 5%;
}

.tv {
    width: 35px;
    height: 35px;
    color: #21243D;
    border-radius: 5%;
}

.in {
    width: 35px;
    height: 35px;
    color: #21243D;
    border-radius: 5%;
}

.inst {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 25%;
    border: 3px solid #21243D;
}

.inst__circle {
    width: 17px;
    height: 12px;
    border-radius: 50% ;
    border: 3px solid #21243D;
    margin: 7.27px;
}

.inst__point {
    position: absolute;
    margin-top: 0px;
    margin-bottom: 21px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    border-radius: 50% ;
    border: 1px solid #21243D;
    background-color: #21243D;
}

.footer__text {
    line-height: 21px;
    text-align: center;
    color: #21243D;
    margin-top: 26px;
}

.footer__socialItem:not(:first-child) {
    margin-left: 24px;
}
