.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    box-sizing: border-box;
    margin-left: 300px;
    width: 410px;
}

.footer__socials {
    display: flex;
    box-sizing: border-box;
    width: 400px;
}

.fb {
    width: 35px;
    height: 35px;
    color: #21243D;
    border-radius: 5%;
}

.tv {
    width: 35px;
    height: 35px;
    color: #21243D;
    border-radius: 5%;
}

.in {
    width: 35px;
    height: 35px;
    color: #21243D;
    border-radius: 5%;
}

.footer__text {
    line-height: 21px;
    color: #21243D;
    margin-top: 26px;
    margin-bottom: 54px;
    font-family: cursive;
    font-size: 15px;
}

.footer__text:hover {
    color: crimson;
    background: cyan;
    border: 1px solid black;
    border-radius: 5%;
    font-family: cursive;
    transition: 0.8s ease;
}

.footer__socialItem:not(:first-child) {
    margin-left: 85px;
}

.inst {
    width: 65px;
    margin-left: 70px;
}

@media screen and (max-width: 900px) {
    .footer__text {
        width: 180px;
        text-align: center;
        padding: 5px;
        font-size: 13px;
        margin-bottom: 54px;
    }

    .footer {
        width: 280px;
        height: 182px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
        box-sizing: border-box;
        margin-left: 18px;
    }

    .footer__socialItem:not(:first-child) {
        margin-left: 24px;
    }

    .inst {
        width: 65px;
        margin-left: 24px;
    }
    
    .footer__socials {
        display: flex;
        box-sizing: border-box;
        width: 200px;
    }
}
