.Tr__position {
    display: flex;
    justify-content: center;
}

.Tr__text{
    height: 150px;
    margin-top: 150px;
    margin-left: 40px;
    width: 500px;
    margin-right: 0px;
    border-right-width: 5px;
    padding: 10px;
    border: 5px solid red;
    font-family:cursive;
    font-size: 17px;
    border-radius: 3%;
}

.wr {
    position: relative;
    width: 250px;
}
  
img {
    width: 250px;
    border-radius: 50%;
    height: 250px;
}
  
.some-text {
    position: absolute;
    width: 200px;
    height: 120px;
    top: 55%;
    left: 4%;
    opacity: 0;
    transition: 0.7s ease;
}
  
.p {
    cursor: pointer;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}
  
.some-text-small {
    cursor: pointer;
    margin-top: 40px;
    margin-left: 50px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}
  
.some-text:hover{
    opacity: 1;
}

.h1Animation {
    display: block;
    justify-content: center;
    font-weight: 400;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 33px;
    font-size: 22px;
    color: #21243D;
}