body {
  font-family: Heebo;
  
} 

@font-face {
  font-family: Heebo; /* Имя шрифта */
  src: url(./assets/font/Heebo-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Heebo;
  src: url(./assets/font/Heebo-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Heebo;
  src: url(./assets/font/Heebo-Medium.ttf);
  font-weight: 500;
}
.App {
  margin: 0 auto;
  padding-top: 110px;
  max-width: 855px;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}