html{
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: Heebo;
}

@media screen and (max-width: 900px) {
  html{
    overflow-x: hidden;
  }
  
  body
  { 
    overflow-x: hidden;
    font-family: Heebo;
  }
}

@font-face {
  font-family: Heebo; /* Имя шрифта */
  src: url(./assets/font/Heebo-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Heebo;
  src: url(./assets/font/Heebo-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Heebo;
  src: url(./assets/font/Heebo-Medium.ttf);
  font-weight: 500;
}

.App {
  margin: 0 auto;
  max-width: 855px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.darkFon {
  background-color: black;
}

.darkP {
  margin: 0;
  color: #fff;
}

.darkH1 {
  margin: 0;
  color: #fff;
}

